<button nz-button nzType="primary" (click)="show()">Show table</button>
<button nz-button nzType="default" (click)="hide()">Hide table</button>
<button nz-button nzType="dashed">Dashed Button</button>
<button nz-button nzType="text">Text Button</button>



<a nz-button nzType="link">Link Button</a>



<!-- 
<div *ngIf="condition1; else elseBlock">
    Content to render when condition is true.
</div>
<ng-template #elseBlock>
    Content to render when condition is false.
</ng-template> -->


<div [ngSwitch]="a">

    <div *ngSwitchCase="1">
           <h1>Welcome admin</h1>
    </div>
    <div *ngSwitchCase="2">
           <h1>Two</h1>
    </div>
    <div  *ngSwitchDefault>
         <h1>Default value</h1>
    </div>

</div>





<nz-table *ngIf="isVisible">
    <thead>
        <tr>
            <th>Name</th>
            <th>Place</th>
            <th>Mobile</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let i of employees;">
            <td>{{i.name}}</td>
            <td>{{i.place}}</td>
            <td>{{i.mob}}</td>

        </tr>
    </tbody>
</nz-table>